<div class="flex">
  <%= render partial: "posts/post_form", locals: { subreddit: @subreddit } %>
  <%= @subreddit.posts.count %>
  <div class="flex flex-col">
    <%= render @subreddit.posts.order(created_at: :desc) %>
  </div>
</div>
<div class="w-screen justify-end m-4 flex">
  <div class="flex flex-col justify-center items-center">
    <%= render @subreddit %>
    <%= render partial: "subscriptions/form", locals: { subreddit: @subreddit } %>
    <% if subreddit_owner? %>
      <%= link_to "Edit Subreddit", edit_subreddit_path(@subreddit), class: "btn-primary" %>
      <%= button_to "Destroy Subreddit", subreddit_path(@subreddit), method: :delete, class: "btn-danger m-2" %>
    <% end %>
    <%= link_to "Back to Subreddits", subreddits_path, class: "btn-secondary w-fit" %>
  </div>
</div>
