<div class="w-full flex">
  <div class="mx-auto">
    <%= render @subreddit %>
    <div class="flex justify-center items-center">
      <%= render partial: "subscriptions/form", locals: { subreddit: @subreddit } %>
      <% if subreddit_owner? %>
        <%= link_to "Edit Subreddit", edit_subreddit_path(@subreddit), class: "btn-primary w-fit" %>
        <%= button_to "Destroy Subreddit", subreddit_path(@subreddit), method: :delete, class: "btn-danger" %>
      <% end %>
      <%= link_to "Back to Subreddits", subreddits_path, class: "btn-secondary w-fit" %>
    </div>
    <%= @subreddit.subscriptions.count %>
  </div>
</div>
<div class="flex">
  <%= render partial: "posts/post_form", locals: { subreddit: @subreddit } %>
  <%= @subreddit.posts.count %>
  <div class="flex flex-col">
    <%= render @subreddit.posts %>
  </div>
</div>
